section .sub-banner {
    width: 100%;
    height: 380px;
    background-image: url(../images/main-banner/bn\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "pretendard-SemiBold", 'Noto Sans KR', sans-serif;
}
section .sub-nav {
    height: 57px;
    background-color: #ccc;
    padding: 0 210px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


#Fund_page .title-name {
    padding-top: 120px;
    padding-bottom: 60px;
}

#Fund_page .title-name h3 {
    font-size: 14px;
    padding-bottom: 10px;
    color: #0AB481;
}

#Fund_page .title-name h1 {
    font-size: 36px;
}

#Fund_page .title-suv {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    /* justify-content: space-between; */
}

#Fund_page .title-suv .btn {
    font-size: 12px;
    width: 135px;
    height: 26px;
    border-radius: 20px;
    border: none;
    margin-left: 15px;

    
}

#Fund_page .title-suv h2 {
    font-size: 36px;
}

#Fund_page .title-text .a {
    margin-bottom: 6px;
}

#Fund_page .title-text .b {
    margin-bottom: 30px;
}

.box1-container {
    display: flex;
}
.box1 {
    /* position: relative; */
    /* background-image: url(../images/main-banner/이미지.png);
    background-repeat: no-repeat;
    background-size: 488px; */
    
    background-position: right;

    /* box-sizing: border-box; */
    width: 712px;
    height: 350px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    
    
    
}

.box1 h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-left: 40px;
}

.box1 h3 {
    margin-left: 40px;
    padding-bottom: 30px;
}

.box1 .text-1 {
    margin-left: 40px;
    padding-bottom: 6px;
}
.box1 .text-2 {
    margin-left: 40px;
    padding-bottom: 6px;
}
.box1 .text-3 {
    margin-left: 40px;
    padding-bottom: 30px;
}

.box1 .btn-01 {
    margin-left: 40px;
    font-size: 14px;
    width: 110px;
    height: 38px;
    color: #fff;
    border: none;
    background-color: #0AB481;
    border-radius: 20px;
    
}

.bnbn1 {
    /* position: relative; */
    /* left: 712px;
    bottom: 350px; */
    /* top: 100px;
    width: 488px;
    height: 350px;
    vertical-align: middle; */
}

.box1 {
    /* position: relative; */
    /* background-image: url(../images/main-banner/이미지.png);
    background-repeat: no-repeat;
    background-size: 488px; */
    
    background-position: right;

    /* box-sizing: border-box; */
    width: 712px;
    height: 350px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    
    
    
}




.box2 h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-left: 40px;
}

.box2 h3 {
    margin-left: 40px;
    padding-bottom: 30px;
}

.box2 .text-1 {
    margin-left: 40px;
    padding-bottom: 6px;
}
.box2 .text-2 {
    margin-left: 40px;
    padding-bottom: 6px;
}
.box2 .text-3 {
    margin-left: 40px;
    padding-bottom: 30px;
}

.box2 .btn-01 {
    margin-left: 40px;
    font-size: 14px;
    width: 110px;
    height: 38px;
    color: #fff;
    border: none;
    background-color: #0AB481;
    border-radius: 20px;
    
}

.box2 {
    /* position: relative; */
    /* background-image: url(../images/main-banner/이미지.png);
    background-repeat: no-repeat;
    background-size: 488px; */
    
    background-position: right;

    /* box-sizing: border-box; */
    width: 712px;
    height: 350px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    /* margin-top: -336px; */
    /* margin-bottom: 120px; */
    
    
}

#bd {
    margin-top: 120px;
}

main section {
    
    width: 1920px;
    height: 336px;
    background-color: #0AB481;
    /* background-size: cover; */
}

#Fund_subpage {
    /* margin-top: -360px; */
    width: 1920px;
    height: 336px;
    background-color: #589A8D;
    margin-top: 120px;
    /* padding-top: 143px; */
    display: flex;
    color: #fff;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    /* align-items: center; */
    /* padding-left: 360px;
    padding-right: 360px; */
    
    
}

#Fund_subpage .first {
    margin-right: 87px;
    font-size: 36px;
}
#Fund_subpage .tow {
    margin-right: 68px;
    font-size: 14px;
}



#Fund_subpage .qwe {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    height: 97.5px;
    padding-right: 30px;
    padding-top: 10px;
    margin-right: 30px;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    
    
}

#Fund_subpage .asd1 {
    font-size: 14px;
    /* align-items: center; */
    /* text-align: center; */
    
}

.asd {
    /* display: flex; */
    font-size: 48px;
    color: #000;
}
/* .asd h2 {
    font-size: 14px;
} */

.three {
    font-size: 24px;
}

